

div:nth-child(1) {
    background-color: aquamarine;
  color: #000000;
  text-align: left;;
  left: 30px;
  position: sticky;
  top: 30px;
}
div:nth-child(2) {
    text-align: center;
    font-family: 'Kalam', cursive;
}

div:nth-child(3) { 
    background-image: url(smirkingOboi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #000000;
    text-align: left;
}

div:nth-child(4) {
    text-align: center;
    font-family: 'Kalam', cursive;
}

ol{ 
    font-family: 'Kalam', cursive;
  } 



h2{
    margin-bottom: 40px;
    margin-top: 40px; 
}
