:root{
    --page-spacing:30px; 
    --paragprah: 18px; 
    --color: azure; 
    --margin: 1em;  
    --base:20px
  } 

  ol{
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
     font-size: 18px;
     font-weight: bolder;
  }

  a:hover{
    background-image: url("BAWK.gif");
    background-position: center;
    background-size: contain;
  }

  button {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
	background-color: rgb(255, 255, 0);
	border-radius: calc(var(--base) / 2);
	cursor: help; 
	padding: calc(var(--base)/2);
    margin: var(--margin);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  section{ 
    --base: 20px;
    display: grid;
	gap: var(--base);
	padding: var(--base);
  }

  div{ 
    height: calc(var(--base) * 11);
    color: green;
    font-weight: bolder;
    background-image: url("Scaredchic.gif");
    background-size: cover;
    background-position: center;
	padding: calc(var(--base) /2);  
}

div:nth-child(1){
    display: flex; 
	gap: var(--base);
	overflow-y: auto;
    overflow-x: auto;
}

div:nth-child(1) * {
    flex-shrink: 0;
	width: 100%; 
}

  footer {
    font-size:medium;
    margin: var(--margin);
    background-color: lightsalmon;
    text-align: left;
    color: black;
    }

    img{
    width: 50%;   
    margin: calc(var(--margin)/2);
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

/* main{
    height: 200vh;
} */

.move { 
	background-color: lightsalmon;
	padding: calc(var(--base)/2);
    margin: calc(var(--margin)*2);
	transition: all 15s ease-in-out; 
}

.move.highlight { 
	background-color: brown;
    transform: translate(-90vh,-50%);
}

.bkg{ 
    padding: var(--margin);
    background-image: url("Cluelesschic.gif");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
}

.change {
    background-image: url("Cluelesschic.gif");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    padding: var(--margin);
}

    @media (min-width:768px) {
        :root{
            --page-spacing:30px; 
            --margin: 2em;
            --paragprah: 12px; 
          }
         
          div{
            background-size: 40%;
            font-weight: bolder;
          }

        .citation{ 
          color: lightsalmon;
          text-align: center;
        }  

        /* p{
            text-align: center;
        } */

      }

      @media (max-width:768px) {
        :root{
            --page-spacing: 36px; 
            --paragprah: 12px; 
           --maxwidth: 80ch;
           --margin:1em;
      } 

      body{
        margin:calc((var(--page-spacing)*1.2))
        }

      .citation{ 
        color:rgb(196, 106, 28);
        word-spacing: 10px;
      } 

      .move { 
        transition: all 20s ease-in-out; 
    }

    .move.highlight { 
        background-color: none;
        transform:scale(0);
    }

      img{
        width: 90%;   
        }

      }