
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@100&display=swap'); 
h1 { font-family: 'Reenie Beanie', cursive;
  color:aquamarine;
  text-align: center;
} 
h1 {
    font-size: 200px;
  }
body { font-family: 'Reenie Beanie', cursive;
}
  h2{
    text-align: center;
  }
body {background-color: rgb(255, 255, 255);}
img{
    height:200px;
    width: 200px;
}
div {
    text-align: center;
  }

a:hover 
{
  background-color: aquamarine;
}
