@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@100&display=swap'); 

h1 {color:aquamarine
}
h1 {font-family: 'Reenie Beanie', cursive;
    font-size: 100px;
    text-align: center;
  }
  h2 {font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    text-align: center;
  }

body {background-color: rgb(255, 255, 255);}

div {
    text-align: center;
  }