:root{
    --page-spacing: 24px; 
    --body-cop: 16px; 
    --sidebarcolor: azure;
    --background-color: aquamarine;
    }

    div{ 
        padding: 10px;
        background-repeat: repeat-x; 
        min-height: 30px;
        font-size: calc(var(--body-cop)*8);
        text-align: center;
         padding: var(--page-spacing)
    }

.koala { 
background-image: url('Styles/KoalaCover.jpg');
background-size: 20%;
background-position: center;
background-repeat: repeat-x;
color: var(--sidebar-color)
}

.ostrich {
    background-image: url("Styles/OstrichCover.jpeg");
    background-size: 30%;
    background-position: center;
    background-repeat: repeat-x;
    color: var(--sidebar-color)
} 

.kakapo{
    background-image: url("Styles/Kakapo.jpeg"); 
    background-size:30%; 
    background-position: center; 
    background-repeat: repeat-x;
    color: var(--sidebar-color)
}

.OceanSunfish{
    background-image: url("Styles/OceanSunfishCover.jpg");
    background-size:30%; 
    background-position: center; 
    background-repeat: repeat-x;
    color: var(--sidebar-color);
}

.KomodoDragon{
    background-image: url("Styles/KomodoCover.jpg");
    background-size:50%; 
    background-position: center; 
    background-repeat: repeat-x;
    color: var(--sidebar-color);
}

.Emu{
    background-image: url("Styles/EmuCover.jpg");
    background-size:30%; 
    background-position: center;
    background-repeat: repeat-x;
}

.Chameleon{
    background-image: url("Styles/ChameleonCover.jpg");
    background-size: 40%;
    background-position: center;
    background-repeat: repeat-x;
}

@media(max-width: 768px){

    :root {
        --page-spacing: 36px; 
        --fontsize: 324x; }

        div{ 
            padding: 10px;
            background-repeat: repeat-x; 
            min-height: 30px;
            font-size: 20vw;
            text-align: center;
             padding: var(--page-spacing)
        }
}

body{
    font-size: var(--body-cop);
    font-family: 'Reenie Beanie', cursive;
}

h1{
    font-size: calc(var(--body-cop)*4)
}

h2 { 
    font-size: calc(var(--body-cop)*2)
}

h4 {
    font-size: calc(var(--body-cop)*3);
    text-align: center
}

p{ max-width:80ch; 
text-align: center;
margin-top: var(var(--page-spacing))
}

p:not(:first child) {
    margin-top: var (--page-spacing)
}

header,
nav, 
article,
aside, 
footer {
    padding: var(--page-spacing);
}

nav, 
aside { 
background-color: var(--sidebar-color)
}




@media (min-width:768px) {
   main {
    display: flex;
   }

   nav,
   aside { width: 25%}
}

a {
    color: var(--sidebar-color)
}

a:hover 
{
  background-color: var(--background-color)
}