:root{
    --page-spacing: 24px; 
    --fontsize: 16px; 
    --brand-color: gold;
    --sidebar-color: #ccc;
    --link-color: red; 
}

@media(min-width: 768px ){

    :root {
        --page-spacing: 36px; 
        --fontsize: 324x; 
    }
}

body{
    font-size: var(--body-cop);
    font-family: sans-serif;
}

h1{
    font-size: calc(var(--body-cop)*4)
}

h2 { 
    font-size: calc(var(--body-cop)*2)
}

p{ max-width:80ch;}

p:not(:first child) {
    margin-top: var (--page-spacing)
}

header,
nav, 
article,
aside, 
footer {
    padding: var(--page-spacing);
}

header, 
footer { 
    background-color: var (--brand-color)

}

a{ 
color: var(--link-color)
}

@media (min-width:768px) {
   main { 
    display: flex;
   }

   nav,
   aside { width: 25%;
flex: shrink 0;
background-color: var(--sidebar-color)} 
}

article{
    flex-grow: 1; 
}