:root{
    --page-spacing:30px; 
    --paragprah: 18px; 
    --color: azure; 
    --margin: 1em;
  } 
  
  body{
    color: var(--color);
  }

  a:hover{
    background-image: url("Jumpy.gif");
    background-position: center;
    background-size: contain;
  }

  
  div{
    background-image: url("Crazy.jpg");
    background-size: cover;
    font-family: 'Roboto','sans-serif';
    padding: 10px;
    width: 150px;
    height: 100px;
    display: block;
   margin-right: auto;
   margin-left: auto;
    color: var(--color);
    font-weight: bold;
    text-align: center;
    font-size: var(--paragprah);
  }

  footer {
    font-size:medium;
    margin: var(--margin);
    background-color: beige;
    text-align: left;
    color: black;
    }

    img{
        display: block;
        width: 5%;
        margin-left: auto;
        margin-right: auto;
        padding: var(--page-spacing);
        opacity: 0;
        cursor: help;
      }


    img:hover + .big {
        background-image: url("Jumpy.gif");
        background-size: cover;
        background-position: center;
        width: 150px;
        height: 100px;
       }

      
    .Bkg{
        background-image: url("2.1.png");
        background-position: center;
        background-size: cover;
    }
      
  .flex-container{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    align-self: center; 
}

    .citation{ 
        margin-right: auto;
        margin-left: auto;
        font-weight: bolder;
      }  


    .help{
        cursor: help;
    }

.pop-out-in {
  animation: 5s anim-popoutin ease infinite;
  font-family: 'Roboto','sans-serif';
  padding-top: 30px;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
  }

  25% {
    color: rgb(135, 95, 47);
    transform: scale(2);
    opacity: 1;
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

      @media (min-width:768px) {
        :root{
            --page-spacing:30px; 
            --margin: 2em;
            --paragprah: 12px; 
          }
         
        .citation{ 
          color: beige;
          text-align: center;
        }  

        p{
            text-align: center;
        }

      }

      @media (max-width:768px) {
        :root{
            --page-spacing: 36px; 
            --paragprah: 12px; 
           --maxwidth: 80ch;
           --margin:1em;
      } 

      body{
        margin:calc(var(--page-spacing)*2)
        }

      .citation{ 
        color:var(--color);
      }  

      div{
        font-weight: bold;
        text-align: center;
        font-size: calc(var(--paragprah)*1.3);
        display: block;
      } 

    }

    