

body{
  background-image: url("Kakapo incoming.png");
  background-size: 85%;
  background-position: bottom;
  background-repeat:repeat-x}

ol{ 
    font-family: 'Kalam', cursive;
  } 

h2{
    margin-bottom: 20px;
    margin-top: 20px; 
}

p {padding: 5px;
 }

 div{
  text-align: center;
    font-size: 20 px;
   }

   aside {
    text-align: center;
   }

@media (hover: hover) {
	aside { visibility: hidden; }

	div:hover + aside { visibility: visible; }
}

.pic {
  text-align: center;
    font-size: 30 px;
    background-image: url("Blindly starring.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(11, 133, 0) 
}