@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@100&display=swap'); 


h1{font-family: 'Reenie Beanie', cursive;
  color:aquamarine;
  text-align: center;}

  h3{
    text-align: center;
    font-family: 'Kalam', cursive;
  }

  .centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:200px;
    width: 200px
  }

.wrap{
  float: left;
  margin: 5px;
}

.additionalpics{
  height:500px;
  width: 500px;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.citation{ 
  font-size: var(--paragprah);
  color:lightpink;
  margin: var(--margin);
  max-width: 40ch;
}

.grid1{
  grid-column: 1;
  grid-row: 1;
}

.grid {
	grid-column: 20;
	grid-row: 1;
}

.div{ 
  background-image: url('NOM\ NOM\ NOM.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #000000;
  text-align: center;
}

ol{ 
  font-family: 'Kalam', cursive;
}


img{
  margin: 1em
}

footer {
font-size:small;
margin: var(--margin);
}

section {
	display: grid;
	grid-auto-rows: 80px;
	grid-auto-columns: 1fr;
  font-size:calc(var(--paragprah)*2)
}


footer{
  background-color: aquamarine;
  text-align: left;
}

a:hover{
  background-image: url("HighKoala.png");
  background-position: center;
  background-size: contain;
}

@media (min-width:768px) { 
  :root{
    --page-spacing:30px; 
    --margin: 1em;
    --paragprah: 12px; 
  }
  h1 { 
    
    font-size: calc(var(--paragprah)*5)
  } 

  h2{
    font-size: calc(var(--paragprah)*3);
    margin: calc(var(--page-spacing));
    text-align: center;
  }

  h3{
    font-size: calc(var(--paragprah)*2); 
    margin-top: var(--margin)
  }

  body { font-family: 'Kalam', cursive;
    font-size: var(--paragprah);
    background-color: var(--color);
    margin:var(--margin)
  }


  img{ 
    width:200px;
    height: 200px
  }
}


@media( max-width: 768px){
  :root{
   --page-spacing: 36px; 
   --paragprah: 12px; 
  --maxwidth: 80ch;
  --margin:1em;
}

body{
margin:var(--margin)
}

h1 {
font-size: calc(var(--paragprah)*5);
}

h1, 
p
{ max-width: var(--maxwidth);
  text-align: center;
margin-top: var(--page-spacing)
}

h3{
  font-size: calc(var(--paragprah)*2);
  margin-top: var(--margin)
 }

p:not(:first-child) {
  margin-top: var(--page-spacing)
}

img{
  height: 100px;
  width:100px;
}

}