
:root{
  --page-spacing:30px; 
  --paragprah: 18px; 
  --color: azure; 
  --margin: 1em;  
  --base:20px
} 

img{
  margin: 1em;
  width:200px;
  height: 200px;
}

footer {
font-size:medium;
margin: var(--margin);
background-color: aquamarine;
text-align: left;
}

a:hover{
  background-image: url("HighKoala.png");
  background-position: center;
  background-size: contain;
}

section{ 
--base: 20px;
display: grid;
gap: var(--base);
padding: var(--base);
}

div{ 
background-image: url('NOM\ NOM\ NOM new.gif');
background-repeat:repeat-y;
background-attachment: fixed;
background-size: 100% 100%;
color: white;
font-weight: bolder;
padding: var(--base);
object-fit: cover;
}

div:nth-child(1){
line-height: 2em;
height: calc(var(--base) * 11);
display: flex; 
gap: var(--base);
overflow-y: auto;
overflow-x: auto;
}

div:nth-child(1) * {
flex-shrink: 0;
width: 100%; 
}

button {
font-family: 'Reenie Beanie', cursive;
font-size: 30px;
cursor: help; 
padding: calc(var(--base)/2);
margin: var(--margin);
display: block;
margin-left: auto;
margin-right: auto;
}

/* Classes */

.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:var(--page-spacing);
}

.wrap{
float: left;
margin: 5px;
}

.additionalpics{
height:500px;
width: 500px;
margin: 5px;
display: block;
margin-left: auto;
margin-right: auto;
}

.citation{ 
font-size: calc(var(--paragprah)*1.2);
color:lightpink;
margin: var(--margin);
text-align:center ;
}

.Header{ 
  background-color: #9ec9ec;
}


@media (min-width:768px) { 
  :root{
    --page-spacing:30px; 
    --margin: 1em;
    --paragprah: 12px; 
  }
  h1 { 
    
    font-size: calc(var(--paragprah)*5)
  } 

  h2{
    font-size: calc(var(--paragprah)*3);
    margin: calc(var(--page-spacing));
    text-align: center;
  }

  h3{
    font-size: calc(var(--paragprah)*2); 
    margin-top: var(--margin)
  }

  body { 
    font-size: var(--paragprah);
    margin:var(--margin);
  }

  main{
    display:flex;
    padding: calc(var(--margin)*3)
  }

  .additionalpics{
    height:500px;
    width: 500px;
    margin: 5px;
    flex:60%;
    padding: calc(var(--page-spacing)/6);
    }

    .Header {
      writing-mode: vertical-rl;
      text-orientation: mixed; 
      padding: 2%;
    }

    .centre{ 
      width:300px; 
      height: 300px;
    }
}

@media( max-width: 768px){
  :root{
   --page-spacing: 36px; 
   --paragprah: 12px; 
  --maxwidth: 80ch;
  --margin:1em;
}

body{
margin:var(--margin)
}

h1 {
font-size: calc(var(--paragprah)*5);
}

h1, 
p
{ max-width: var(--maxwidth);
  text-align: center;
margin-top: var(--page-spacing)
}

h3{
  font-size: calc(var(--paragprah)*2);
  margin-top: var(--margin)
 }

p:not(:first-child) {
  margin-top: var(--page-spacing)
}

.citation{ 
  color: grey;
}

}