:root{
    --page-spacing: 24px; 
    --body-cop: 16px; 
    --sidebarcolor: white;
    --background-color: aquamarine;
    }

 .child1{
background-image: url('KoalaCover.jpg');
}

.child2 {
    background-image: url("OstrichCover.jpeg");
}

.child3{
    background-image: url("Kakapo.jpeg");
}

@media(min-width: 768px ){

    :root {
        --page-spacing: 36px; 
        --fontsize: 324x; 
    }
}

body{
    font-size: var(--body-cop);
    font-family: 'Reenie Beanie', cursive;
}

h1{
    font-size: calc(var(--body-cop)*4)
}

h2 { 
    font-size: calc(var(--body-cop)*2)
}

h3{
    font-size: calc(var(--body-cop)*3);
    text-align: center;
    padding: var(--page-spacing)
}

p{ max-width:80ch;}

p:not(:first child) {
    margin-top: var (--page-spacing)
}

header,
nav, 
article,
aside, 
footer {
    padding: var(--page-spacing);
}

nav, 
aside { 
background-color: var(--sidebar-color)
}


@media (min-width:768px) {
   main {
    display: flex;
   }

   nav,
   aside { width: 25%}
}

a:hover 
{
  background-color: var(--background-color)
}
